* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* il collasso dei margini avviene sempre su qualsiasi tipo di tag affiancato verticalmente*/

#primo-div {
    border: solid 5px blue;
    height: 300px;
    width: 500px;
    margin-bottom: 100px;
}

#secondo-div {
    border: solid 5px red;
    height: 200px;
    width: 500px;
    margin-top: 100px; /* ignorata a causa del collasso dei margini */
}